/* Inter font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');



/* page styles */
.page{
    margin-top: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    user-select: none;
    /* below are definitions for variables for Circel's colour scheme. when using a colour, use its variable form eg var(--green) so as to
    use the colour scheme here */
    --gray: rgba(146,146,146);
    --red: rgb(235, 0, 0);
    --green: rgb(0, 179, 0);
    --blue: rgb(0, 0, 236);
    --sidebarWidth: 18vw;
}

.loadingScreen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-left: 49vw;
    padding-top: 49vh;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    transition: opacity 0.5s;
    background-color: white;
}

.pageLoader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid rgb(20, 20, 20);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 20.6s linear infinite;
    animation: spin 0.6s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

a{
    text-decoration: none;
    color: none;
}

.columnedLayoutC2 h4{
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    font-size: small;
}

    /* text-shadow: 3px 2px 3px rgba(255,255,255,.2), 0px 0px 2px rgba(143,143,143,0.3); */



/* app layouts */

/* three column layout */

.columnedLayout{
    display: grid; 
    grid-template-columns: var(--sidebarWidth) 81vw; 
    left: 1vw; 
    width: 99vw;
    height: 100vh;
    position: absolute; 
    z-index: -100;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -50px;
}

.columnedLayoutC1{
    position: absolute;
    height: 100vh;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 18px;
    padding-top: 50px;
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 18vw;
    box-sizing: border-box;
    border-right: 1px solid rgb(240, 240, 240);
    /* box-shadow: 2px 0px 18px 0px rgba(0,0,0,0.02); */
    z-index: 100;
    overflow-x: scroll;
}

.columnedLayoutC1TitleBar{
    top: 0vh;
    left: 0vw;
    height: 42px;
    width: 17vw;
    position: fixed;
    /* grid-template-columns: 50% 50%; */
    /* backdrop-filter: blur(15px); */
    padding-top: 13px;
    padding-left: 25px;
    overflow: hidden;
    /* border-bottom: 1px solid rgb(240, 240, 240); */
    transition: background 0.3s;
    z-index: 100;
}

.columnedLayoutC2{
    position: absolute;
    height: 99vh;
    margin-bottom: 15px;
    padding-left: 16px;
    padding-right: 25px;
    padding-bottom: 18px;
    padding-top: 60px;
    display: block;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    box-sizing: border-box;
    margin-right: 100px;
    background-color: rgb(252, 252, 252);
    overflow-y: scroll;
}

.overviewCard{
    width: 300px;
    height: 150px;
    border-radius: 11px;
    background-color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
    vertical-align: bottom;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    
}

.fullWidthNavCard{
    width: 96%;
    height: 100px;
    border-radius: 11px;
    /* background-color: white; */
    background: linear-gradient(0deg, rgb(248, 248, 248) 0%, rgba(255,255,255,1) 60%);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
    vertical-align: bottom;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    cursor: pointer;
}

.columnedLayoutTopBarTop{
    top: 0vh;
    left: 19vw;
    height: 42px;
    /* border-bottom: 1px solid red; */
    width: 80vw;
    position: fixed;
    backdrop-filter: blur(15px);
    padding-top: 13px;
    padding-left: 15px;
    overflow: hidden;
    transition: background 0.3s;
    grid-template-columns: 50% 50%;
}

.columnedLayoutTopBar{
    top: 0vh;
    left: 19vw;
    height: 42px;
    width: 80vw;
    position: fixed;
    grid-template-columns: 50% 50%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px);
    padding-top: 13px;
    padding-left: 15px;
    overflow: hidden;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: background 0.3s;
    z-index: 100;
    box-shadow: 2px 0px 18px 0px rgba(0,0,0,0.02);
}

.pfp{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    /* box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.45); */
}

.pageTile{
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
    border-radius: 15px;
    position: absolute;
    height: 85vh;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 18px;
    display: block;
}

.pageTileRow{
    display: flex;
    width: 100%;
    overflow: visible;
    background: none;
    z-index: -10;
}


.halvedPageGrid{
    display: grid; 
    grid-template-columns: 50% 50%; 
    top: 0; 
    left: 0; 
    position: absolute; 
    z-index: -100
}

.halvedPageHalf{
    padding-left: 5vw; 
    padding-right: 5vw;
    padding-top: 50px;
    width: 40vw;
    height: 100vh;
}

.halvedPageHalfSignup1{
    margin-top: 70px;
    padding-left: 5vw; 
    padding-right: 5vw;
    padding-top: 30px;
    width: 38vw;
    height: 80vh;
    background-image: url('../images/backgrounds/bkgd9.png');
    background-size: cover;
    border-radius: 15px;
}

.halvedPageHalfSignup1 button{
    background-color: white;
    color: black !important
}

.halvedPageHalfSignup1 button:hover{
    color: white !important
}


/* global/generic button styles to ensure consistency */
button{
    border-radius: 7px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: fit-content;
    width: fit-content;
    min-width: 140px;
    font-size: 13px;
    font-family: 'Inter';
    cursor: pointer;
    transition: background 0.2s;
    display: inline-block;
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
}

button:active{
    box-shadow: none;
}

input{
    border-radius: 7px;
    border: 0.5px solid rgb(233, 233, 233);
    height: 36px;
    box-shadow: 0px 4px 15px -12px rgba(0,0,0,0.2);
    background: rgb(246,246,246);
    background: -moz-linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    padding-left: 15px;
    font-family: 'Inter';
    transition: border 0.2s;
}

input:focus{
    border: 0.5px solid rgb(201, 201, 201);
    outline: none;
}

.inputDiv{
    border-radius: 6px;
    border: 0.5px solid rgb(233, 233, 233);
    height: fit-content;
    box-shadow: 0px 4px 15px -12px rgba(0,0,0,0.2);
    background: rgb(246,246,246);
    background: -moz-linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(254, 254, 254,1) 0%, rgba(255,255,255,1) 100%);
    padding-left: 15px;
    font-family: 'Inter';
    transition: border 0.2s;
}

.inputDiv:focus{
    border: 0.5px solid rgb(201, 201, 201);
    outline: none;
}

.inputDiv input{
    border:none;
    background: none;
    box-shadow: none;
    padding: none;
    width: fit-content;
    padding-left: 10px;
}

.inputDiv input:focus{
    border:none;
    background: none;
    box-shadow: none;
}

/* primary button */
.primaryButton{
    background-color: black;
    border: none;
    color: white;
}

.primaryButton:hover{
    background-color: transparent;
    border: none;
    color: black;
}

/* secondary button */
.secondaryButton{
    background-color: transparent;
    border: none;
    color: black;
}

.secondaryButton:hover{
    background-color: black;
    color: white;
}


/* top bar and top bar nav zone (non-app pages only)*/
.topBar{
    top: 0vh;
    left: 0vw;
    height: 42px;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(15px);
    padding-top: 13px;
    padding-left: 13px;
    overflow: hidden;
    box-shadow: 0px 4px 1px -4px rgba(0,0,0,0.15) !important;
}

.topBarTop{
    top: 0vh;
    left: 0vw;
    height: 42px;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(15px);
    padding-top: 13px;
    padding-left: 13px;
    overflow: hidden;
    box-shadow: none;
}

.topBarNavZone{
    top: 19px;
    left: 10vw;
    width: 80vw;
    height: 35px;
    position: fixed;
    font-size: 13px;
    color: gray;
    text-align: center;
}

.topBarNavZoneApp{
    top: 17px;
    left: 4vw;
    width: 80vw;
    height: 35px;
    position: fixed;
    font-size: 10px !important;
    color: gray;
    text-align: left;
}

.topBarBtnZone{
    top: 8px;
    right: 1vw;
    width: fit-content;
    text-align: right;
    position: fixed;
    height: 44px;
}

.topBarBtnZone button{
    height: 5vh;
    width: 8vw;
    box-shadow: none;
}

.topBarAcntLoggedInZone{
    top: 19px;
    right: 3vw;
    width: fit-content;
    /* text-align: right !important; */
    position: fixed;
    height: 44px;
}

.topBarLink{
    cursor: poInter;
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

.topBarLink:hover{
    color: black;
}

.topBarAppTitle{
    color: gray;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.topBarAccountOptions{
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    position: fixed;
    padding-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    height: fit-content;
    z-index: 10000;
    background-color: white;
    right: 2vw;
    top: 50px;
}

.sidebarItem{
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    border: none;
    box-shadow: none;
    padding-left: 12px;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;
    transition: color 0.1s;
    width: 100%;
    margin-bottom: 15px;
    line-height: 18px;
}

.sidebarItem:hover{
    background-color: rgba(238, 238, 238, 0.5);
    color: black
}

/* context menu/other menu items */

.menuItem{
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    border: none;
    box-shadow: none;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: gray;
    transition: color 0.1s;
    margin-bottom: 0 !important;
}

.menuItem:hover{
    background-color: rgb(250, 250, 250);
    color: black
}

.hR{
    width: 100%;
    display: block;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: gainsboro;
}

.topBarAccountOptions .menuItem{
    width: 100%;
}

/* two half window (title takes up left half in card, content in right half). Usage: use for sharing menu/login window, not
content-rich windows */

.twoHalfWindow{
    position: fixed;
    z-index: 10000;
    left: 20vw;
    top: 10vh;
    width: 60vw;
    height: 80vh;
    background-color: rgba(254, 254, 254, .7);
    /* background-color: white; */
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.20);
    /* transition: all 2s; */
}

/* CSS Circel logo, use instead of image where possible */
.circelLogoCircle{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: none;
    border: 1.2px solid gray;
    padding: 4px;
    transform: rotate(225deg);
    display: inline-block;
}

.circelLogoSemicircle{
    width: 18px;
    height: 9px;
    background-color: gray;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom: 0px;
}

/* CSS for homepage and large cards */
.minorText{
    color: gray;
    font-size: 15px;
    display: inline;
}

.homepageWorkspaceCard{
    height: 50vh;
    padding-top: 30vh;
    background-repeat: no-repeat;
}

.bigPageHeader{
    font-size: max(5vw, 40px);
}

/* page cards */
.pageCard{
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.15);
    border-radius: 15px;
    position: absolute;
    height: 60vh;
    width: 30vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 18px;
}

.pageCardTransparent{
    border-radius: 15px;
    position: absolute;
    height: 60vh;
    width: 30vw;
    padding-left: 25px
}